<mat-sidenav-container class="example-container w-4/2" autosize hasBackdrop="true">
    <mat-sidenav #drawer class="example-sidenav" mode="over">
      <app-betslip-items></app-betslip-items>
    </mat-sidenav>
  
    <div class="example-sidenav-content flex flex-col justify-start items-center">
      <mat-toolbar color="primary">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <span>TuApuesta.co</span>
        <span class="example-spacer"></span>
      </mat-toolbar>

      <div class="events flex flex-col justify-start items-center gap-4 w-10/12 mx-auto py-8">
        <app-card-event class="w-full"></app-card-event>
      </div>

    </div>
  
  </mat-sidenav-container>
  